<!--form action="https://formsubmit.co/youremail@gmail.com"  onsubmit="Salvar()" method="POST"-->
<link rel="stylesheet" href="contatos.component.css">
<form action="https://formsubmit.co/herbert.hpzerro@gmail.com" method="POST" id="form1">
  <!--Desabilitar captcha-->
  <input type="hidden" name="_captcha" value="false" style="display: none;">
  <!--Desabilitar captcha-->
  <!--não ir para outra pagina-->
  <input type="hidden" name="_next" value="" style="display: nome;">
  <!--não ir para outra pagina-->
  <!--Evitar spawm-->
  <input type="text" name="_honey" style="display:none">
  <!--Evitar spawm-->
  <div class="row minha">
    <div class="col-md-7 ">
      <div class="row">
        <div class="">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Seu nome">
          </div>
        </div>
        <div class="row"></div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Seu e-mail">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Assunto">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <textarea class="form-control" name="msg" placeholder="Mensagem"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="m-auto w-100 d-flex justify-content-center align-items-center mb-2">
          <button type="submit" class="btn mybtn2 bg-primary">Enviar</button>
        </div>
      </div>

    </div>
  </div>
</form>
<div class="container-fluid justify-content-center">
  <div class="form-container">
      <form action="https://formsubmit.co/herbert.hpzerro@gmail.com" method="POST" id="form1">
          <!-- Your form elements here -->
          <!-- ... -->
      </form>
  </div>
  
</div>