footer{
    padding: 30px;
    background-color: rgb(39, 57, 221);
    color: white;
    text-align: center;
}
.team-container{
    width: 100%;
    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(216, 44, 44, 0.363);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

}