.teste{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
img{
    display: block;
    min-width: 200px;
    min-height: 200px;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
}
.card{
    width: 280px;
    height: 300px;
}