<div class="container">
    <div class="container">
        <header>
            <h1>Sobre Game of Thrones</h1>
        </header>
        <section>
            <h2>Introdução</h2>
            <p>Game of Thrones é uma série de televisão baseada nos livros "A Song of Ice and Fire" de George R.R.
                Martin. A série conquistou fãs em todo o mundo com sua trama intrigante e personagens cativantes.</p>
        </section>
        <section>
            <h2>Personagens Principais</h2>
            <ul>
                <li>Jon Snow</li>
                <li>Daenerys Targaryen</li>
                <li>Tyrion Lannister</li>
                <li>Cersei Lannister</li>
                <li>Arya Stark</li>
            </ul>
        </section>
        <section>
            <h2>Enredo</h2>
            <p>O enredo de Game of Thrones se desenrola em um mundo fictício onde várias famílias nobres lutam pelo
                controle do Trono de Ferro. Intrigas políticas, batalhas épicas e reviravoltas emocionantes fazem parte
                da trama.</p>
        </section>
        <section>
            <h2>Locais Importantes</h2>
            <ul>
                <li>Winterfell</li>
                <li>King's Landing</li>
                <li>Dragonstone</li>
                <li>The Wall</li>
            </ul>
        </section>
        <section>
            <h2>Prêmios</h2>
            <p>Game of Thrones recebeu inúmeros prêmios, incluindo Emmy Awards, devido à sua produção de alta qualidade
                e atuações excepcionais.</p>
        </section>
    </div>
</div>