<div class="container-fluid">
        <form class="m-auto">
            <!-- Login -->
            <div class="col-md-7 m-auto">
                <label for="validationServerUsername" class="form-label">Login</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" id="validationServerUsername"
                        aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" placeholder="Digite o seu apelido" required>
                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                        Escolha um apelido para você fazer o login
                    </div>
                </div>
            </div>
            <!-- Senha -->
            <div class="col-md-7 m-auto">
                <label for="validationServer01" class="form-label">Senha</label>
                <input type="password" class="form-control" id="validationServer01" placeholder="A senha deve ter minímo 8 caracteres"  required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        
        
            <!-- Botão de enviar -->
            <div class="col-md-7 m-auto">
                <button class="btn btn-primary col-2 m-1 w-100" type="submit">Enviar</button>
            </div>
        </form>
</div>
